@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: Axiforma;
    src: url(/fonts/axiforma-regular.otf) format("opentype");
  }

  html{
    font-family: Montserrat,system-ui, sans-serif;
    @apply text-black
  }
  


  h1 {
    @apply text-3xl font-bold md:text-4xl font-['Axiforma'];
  }
  h2 {
    @apply text-2xl font-semibold md:text-3xl font-['Axiforma'];
  }
  h3 {
    @apply text-xl font-medium md:text-2xl font-['Axiforma'];
  }
  h4 {
    @apply text-lg font-normal md:text-xl font-['Axiforma'];
  }
  h5 {
    @apply text-base font-normal md:text-lg font-['Axiforma'];
  }
  h6 {
    @apply text-sm font-light md:text-base font-['Axiforma'];
  }
  p {
    @apply text-sm md:text-base ;
  }

  section{
    @apply p-8 md:p-16;
  }
}

@layer components {
  .navbar-items{
    @apply md:bg-transparent py-2.5 md:py-1 md:px-4 w-full md:w-auto text-center cursor-pointer transition-all duration-300 ease-in-out md:mx-3 md:rounded-lg 
    hover:bg-blue hover:text-white active:bg-blue active:text-white font-normal text-xs md:text-sm border border-transparent focus:border-blue;
  }
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }

}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

