@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Axiforma";
  src: url(../fonts/axiforma-regular.otf);
}

@layer base {

  html{
    font-family: Montserrat, system-ui, sans-serif;
    @apply text-black
  }

  h1 {
    @apply text-3xl font-bold md:text-4xl font-['Axiforma'];
  }
  h2 {
    @apply text-2xl font-semibold md:text-3xl font-['Axiforma'];
  }
  h3 {
    @apply text-xl font-medium md:text-2xl font-['Axiforma'];
  }
  h4 {
    @apply text-lg font-normal md:text-xl font-['Axiforma'];
  }
  h5 {
    @apply text-base font-normal md:text-lg font-['Axiforma'];
  }
  h6 {
    @apply text-sm font-light md:text-base font-['Axiforma'];
  }
  p {
    @apply text-sm md:text-base font-body;
  }

  section{
    @apply p-8 md:p-16;
  }

}

@layer components {
  .navbar-items{
    @apply lg:bg-transparent py-2.5 lg:py-1 lg:px-4 w-full lg:w-auto text-center cursor-pointer transition-all duration-300 ease-in-out lg:mx-3 rounded-lg 
    hover:bg-blue hover:text-white active:bg-blue active:text-white font-normal text-xs lg:text-sm border border-transparent focus:border-blue;
  }
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Scroll Bar */
  
  ::-webkit-scrollbar {
    width: 12px;
    border-radius: 2px;
    background-color: #f4f4f4;
    box-shadow: inset 0px 0px 7px -3px rgba(0, 0, 0, 0.25); 
  }
  
  ::-webkit-scrollbar-track{
    margin-bottom: 2px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #2286aa;
    box-shadow: 0px 0px 1px #2D3A74;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #196480;
    box-shadow: 0px 0px 1px #2D3A74;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background-color: #15546a;
    box-shadow: 0px 0px 1px #2D3A74;
  }
  
  /* [data-rmiz-wrap='visible'], [data-rmiz-wrap='hidden'] {
    width: 100%;
    height: 100%;
    display: block;
  } */
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

