@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Axiforma";
  src: url(../fonts/axiforma-regular.otf);
}

@layer base {

  html{
    font-family: Axiforma,Montserrat, serif;
    @apply text-black
  }

  h1 {
    @apply text-3xl font-bold md:text-4xl font-['Axiforma'];
  }
  h2 {
    @apply text-2xl font-semibold md:text-3xl font-['Axiforma'];
  }
  h3 {
    @apply text-xl font-medium md:text-2xl font-['Axiforma'];
  }
  h4 {
    @apply text-lg font-normal md:text-xl font-['Axiforma'];
  }
  h5 {
    @apply text-base font-normal md:text-lg font-['Axiforma'];
  }
  h6 {
    @apply text-sm font-light md:text-base font-['Axiforma'];
  }
  p {
    @apply text-sm md:text-base font-['Montserrat'];
  }

  section{
    @apply p-8 md:p-16;
  }
}

@layer components {
  .navbar-items{
    @apply lg:bg-transparent py-2.5 lg:py-1 lg:px-4 w-full lg:w-auto text-center cursor-pointer transition-all duration-300 ease-in-out lg:mx-3 rounded-lg 
    hover:bg-blue hover:text-white active:bg-blue active:text-white font-normal text-xs lg:text-sm border border-transparent focus:border-blue;
  }
  .bg-clip-text {
    background-clip: text;
    -webkit-background-clip: text;
  }

}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

